:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer {
  width: 260px;
  background: #E0E0E0;
}

mat-drawer-container {
  height: 100%;
}

h1 {
  margin-bottom: 5%;
  font-weight: bold;
  font-size: 35px;
}

.container {
  margin-top: 3%;
  margin-left: 7%;
}

.h2-recommendations {
  margin-top: 1%;
  margin-left: 1.5%;
  color: white;
}

.h2-dose{
  margin-bottom: 7%;
}

h2 {
  margin-top: 3%;
  margin-left: 5%;
  color: white;
}

.h3-recommendations {
  margin-left: 1.5%;
  color: white;
}

h3 {
  margin-left: 5%;
  color: white;
}

.cards {
  margin-top: 3%;
}

.recommendations-card {
  border-radius: 15px;
  background-color: #4F4F4F;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.recommendations-card-text {
  flex-grow: 1;
}

.medicine-card{
  border-radius: 15px;
  background-color: #4F4F4F;
}

.dose-card{
  border-radius: 15px;
  background-color: #4F4F4F;
}

.where-to-get-it-card{
  border-radius: 15px;
  background-color: #4F4F4F;
}

.recommendations-card-image {
  height: 15%;
  width: 15%;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 2%;
}

.bold-text {
  font-weight: bold;
}

.index-number{
  font-size: 65px;
}

.meal-hours-wrapper {
  display: flex;
  flex-direction: column;
}

.meal-hours {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.meal {
  margin-left: 5%;
  color: white;
  flex-grow: 1;
}

.hours {
  margin-right: 5%;
  color: white;
  margin-left: 10px;
}

.spacer{
  margin-top: 5%;
}

.logos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-image {
  border-radius: 7px;
  width: 25%;
  margin: 10px;
}
