.example-card {
  background-color: #222222;
  margin: 0 30px;
  margin-bottom: 30px;
}

.example-card2{
  background-color: #222222;
  margin: 0 30px;
  margin-bottom: 30px;
}

.custom{
  color: whitesmoke;
}

.custom2{
  color: whitesmoke;
}
