<div class="container" fxLayout="column" fxLayoutAlign="center center">
<mat-card class="example-card" >
  <mat-card-header>
    <mat-card-title>{{title}}BQ.1, the new variant of COVID-19 circulating in Spain: what are its symptoms?</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="https://img.asmedia.epimg.net/resizer/-gotA4sBu6rZxT2eHu4Mvxeev6A=/736x414/cloudfront-eu-central-1.images.arcpublishing.com/diarioas/UO7IVK65OBMMBFLMEGIZMJLG5Y.jpg" alt="Photo of news">
  <mat-card-content  fxLayout="column" fxLayoutAlign="center center">
    <p>
      The BQ.1 variant of the coronavirus has been detected for the first time in wastewater in Catalonia, according to the Secretary of Public Health, Carmen Cabezas, in an interview with RAC1 although, for now, no case of infection in people is known. This is a descendant of the BA.5 variant of Omicron.\n\nAnd it is that COVID-19 is still present among us. The latest figures published by the Ministry of Health, dated October 14, show a rise in the incidence of the coronavirus, more specifically double the number of cases compared to the previous week, with 20,652 compared to 10,843.
        {{info}}
    </p>
  </mat-card-content>
</mat-card>

</div>
