<mat-nav-list>
  <div class="logo py-4">
    <img src="assets/images/logo.png" alt="Company Logo">
  </div>
  <mat-divider></mat-divider>
  <br>
  <a class="sidebar-option" routerLink="/dashboard" mat-list-item>
    <mat-icon>home</mat-icon> Home
  </a>
  <a class="sidebar-option" routerLink="/profile" mat-list-item>
    <mat-icon>person</mat-icon> My profile
  </a>
  <a class="sidebar-option" routerLink="/news" mat-list-item>
    <mat-icon>backup_table</mat-icon> News
  </a>
  <a class="sidebar-option" routerLink="/prescriptions"  mat-list-item>
    <mat-icon>medical_information</mat-icon> Prescription
  </a>

  <a routerLink="/" mat-list-item class="mat-list-item-end">
    <mat-icon>power_settings_new</mat-icon>Logout
  </a>

</mat-nav-list>
