<mat-nav-list>
  <div class="logo py-4">
    <img src="assets/images/logo.png" alt="Company Logo">
  </div>
  <mat-divider></mat-divider>
  <br>
  <a mat-list-item>
    <mat-icon>home</mat-icon> Home
  </a>
  <a mat-list-item>
    <mat-icon>person</mat-icon> My profile
  </a>
  <a mat-list-item>
    <mat-icon>backup_table</mat-icon> News
  </a>
  <a mat-list-item>
    <mat-icon>medical_information</mat-icon> Prescription
  </a>
  <a mat-list-item>
    <mat-icon>settings</mat-icon> Configuration
  </a>

</mat-nav-list>
