:host{
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer{
  width: 260px;
  background: #E0E0E0;
}

mat-drawer-container{
  height: 100%;
}

.title-container, .information-container {
  width: 30%;
}

.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title-container{
  display: flex;
  align-self: center;
}

.information-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  margin-left: 7%;
}

.return-button{
  font-weight: bold;
  font-size: 20px;
}

h1{
  font-weight: bold;
  font-size: 30px;
}

.doctorName{
  font-size: 23px;
  font-weight: lighter;
}

.speciality{
  font-weight: bold;
  border-bottom: 1px solid black;
}

.stars{
  border-bottom: 1px solid black;
}

.description{
  border-bottom: 1px solid black;
}

.review-field{
  background-color: white;
  width: 100%;
}
